@model IEnumerable<Clinic.Models.Ticket>

@{
    ViewData["Title"] = "Талоны";
    string GetSortArrow(string columnName)
    {
        if (ViewData["CurrentSort"] as string == columnName)
        {
            if ((string)ViewData["CurrentSort"] == "doctor_asc" || (string)ViewData["CurrentSort"] == "appointment_date_asc" || (string)ViewData["CurrentSort"] == "appointment_time_asc")
            {
                return "▼"; // Стрелка вниз
            }
            else
            {
                return "▲"; // Стрелка вверх
            }
        }
        else if (ViewData["CurrentSort"] as string == columnName.Replace("_asc", "_desc"))
        {
            return ""; // Стрелка вверх
        }
        return "";
    }
}

<h2>Талоны</h2>

    <div>
        <form id="searchForm" asp-controller="Tickets" asp-action="Index" method="get" class="form-inline">
            <div class="form-group" style="margin-bottom: 10px;">
                <label for="searchInput" class="mr-2">Поиск</label>
                <input id="searchInput" type="text" name="searchString" placeholder="Введите текст для поиска" class="form-control mr-2">
            </div>
            <div class="form-check form-check-inline">
                <input type="checkbox" name="filterDoctor" value="true" class="form-check-input">
                <label class="form-check-label mr-2">ФИО врача</label>
                <select name="selectedDoctor" class="form-control mr-2">
                    @foreach (var doctor in ViewBag.Doctors)
                    {
                        <option value="@doctor.Id">@doctor.FullName</option>
                    }
                </select>
            </div>
            <div class="form-check form-check-inline">
                <input type="checkbox" name="filterSpecialty" value="true" class="form-check-input">
                <label class="form-check-label mr-2">Специальность</label>
                <select name="selectedSpecialty" class="form-control mr-2">
                    @foreach (var specialty in ViewBag.Specialties)
                    {
                        <option value="@specialty.Id">@specialty.Name</option>
                    }
                </select>
            </div>
            <div class="form-check form-check-inline">
                <input type="checkbox" name="filterDateFrom" value="true" class="form-check-input">
                <label class="form-check-label mr-2">Дата от</label>
                <input type="date" name="selectedDateFrom" class="form-control mr-2">
            </div>
            <div class="form-check form-check-inline">
                <input type="checkbox" name="filterDateTo" value="true" class="form-check-input">
                <label class="form-check-label mr-2">Дата до</label>
                <input type="date" name="selectedDateTo" class="form-control mr-2">
            </div>
            <div class="form-check form-check-inline">
                <input type="checkbox" name="filterPatient" value="true" class="form-check-input">
                <label class="form-check-label mr-2">ФИО пациента</label>
                <select name="selectedPatient" class="form-control mr-2">
                    @foreach (var patient in ViewBag.Patients)
                    {
                        <option value="@patient.Id">@patient.FullName</option>
                    }
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Применить фильтры</button>
        </form>
        <p>Найдено записей: @ViewBag.ticketsCount</p>
    </div>
    <div class="col-md-9" style="margin-top: 10px; margin-bottom: 10px;">
        @if (User.IsInRole("admin"))
        {
            <a asp-action="Create" class="btn btn-primary">Создать новую запись</a>
        }
    </div>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DoctorSortParam"]">
                    Врач
                    @Html.Raw(GetSortArrow("doctor_asc") + GetSortArrow("doctor_desc"))
                </a>
            </th>
            <th>
                Специальность
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AppointmentDateSortParam"]">
                    Дата приема
                    @Html.Raw(GetSortArrow("appointment_date_asc") + GetSortArrow("appointment_date_desc"))
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AppointmentTimeSortParam"]">
                    Время приема
                    @Html.Raw(GetSortArrow("appointment_time_asc") + GetSortArrow("appointment_time_desc"))
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PatientSortParam"]">
                    ФИО пациента 
                    @Html.Raw(GetSortArrow("patient_asc"))
                </a>
            </th>
            @if (User.IsInRole("admin"))
            {
                <th>Действия</th>
            }
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Doctor.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Doctor.Specialty.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppointmentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppointmentTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient.FullName)
                </td>
                @if (User.IsInRole("admin"))
                    {
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                        </td>
                    }
            </tr>
        }
    </tbody>
</table>
