@model Clinic.Models.Schedule

@{
    ViewData["Title"] = "Удаление расписания";
}

<h2>Удаление расписания</h2>

<h3>Вы уверены, что хотите удалить это расписание?</h3>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Доктор
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.LastName) @Html.DisplayFor(model => model.Doctor.FirstName) @Html.DisplayFor(model => model.Doctor.MiddleName)
        </dd>
        <dt class="col-sm-2">
            День недели
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DayOfWeek)
        </dd>
        <dt class="col-sm-2">
            Начало приёма
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class="col-sm-2">
            Конец приёма
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
    </dl>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Отмена</a>
    </div>
</form>
