@model List<Ticket>

@{
    ViewData["Title"] = "Home Page";
}

@if (ViewBag.ErrorMessage != null)
{
    <h2>@ViewBag.ErrorMessage</h2>
}
else
{
    <h2>Талоны</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Дата</th>
                <th>Время</th>
                <th>ФИО доктора</th>
                <th>ФИО пациента</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ticket in Model)
            {
                <tr>
                    <td>@ticket.AppointmentDate</td>
                    <td>@ticket.AppointmentTime</td>
                    <td>@(ticket.Doctor != null ? ticket.Doctor.FullName : "")</td>
                    <td>@(ticket.Patient != null ? ticket.Patient.FullName : "")</td>
                </tr>
            }
        </tbody>
    </table>
}
