@model Tuple<List<Appointment>, List<Ticket>>

@{
    ViewData["Title"] = "Home Page";
}

@if (ViewBag.ErrorMessage != null)
{
    <h2>@ViewBag.ErrorMessage</h2>
}
else
{
    <h2>Appointments</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Описание</th>
                <th>ФИО доктора</th>
                <th>ФИО пациента</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var appointment in Model.Item1)
            {
                <tr>
                    <td>@appointment.Description</td>
                    <td>@(appointment.Doctor != null ? appointment.Doctor.FullName : "")</td>
                    <td>@(appointment.Patient != null ? appointment.Patient.FullName : "")</td>
                </tr>
            }
        </tbody>
    </table>

    <h2>Tickets</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Дата</th>
                <th>Время</th>
                <th>ФИО доктора</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ticket in Model.Item2)
            {
                <tr>
                    <td>@ticket.AppointmentDate</td>
                    <td>@ticket.AppointmentTime</td>
                    <td>@(ticket.Doctor != null ? ticket.Doctor.FullName : "")</td>
                </tr>
            }
        </tbody>
    </table>
}
