@model List<Clinic.Models.OutpatientCard>

@{
    ViewData["Title"] = "Index";
    string GetSortArrow(string columnName)
    {
        if (ViewData["CurrentSort"] as string == columnName)
        {
            if ((string)ViewData["CurrentSort"] == "card_number_asc" || (string)ViewData["CurrentSort"] == "patient_asc")
            {
                return "▼"; // Стрелка вниз
            }
            else
            {
                return "▲"; // Стрелка вверх
            }
        }
        else if (ViewData["CurrentSort"] as string == columnName.Replace("_asc", "_desc"))
        {
            return "▲"; // Стрелка вверх
        }
        return "";
    }
}

<h1>Амбулаторные карты</h1>

<p>
    <form id="searchForm" asp-controller="OutpatientCards" asp-action="Index" method="get">
        <div  class="form-group" style="margin-bottom: 10px;">
            <label for="searchInput" class="mr-2">Поиск</label>
            <input id="searchInput" type="text" name="searchString" placeholder="Введите текст для поиска" class="form-control mr-2">
        </div>
        <div class="form-check form-check-inline">
            <input type="checkbox" name="filterCardNumber" value="true" class="form-check-input"><label class="form-check-label mr-2">Номер карты</label>
            <select name="selectedCardNumber" class="form-control mr-2">
                @foreach (var cardNumber in ViewBag.CardNumbers)
                {
                    <option value="@cardNumber">@cardNumber</option>
                }
            </select>
        </div>
        <div class="form-check form-check-inline">
            <input type="checkbox" name="filterPatient" value="true" class="form-check-input">
            <label class="form-check-label mr-2">Пациент</label>
            <select name="selectedPatient" class="form-control mr-2">
                @foreach (var patient in ViewBag.Patients)
                {
                    <option value="@patient.Value">@patient.Text</option>
                }
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Применить фильтры</button>
        <p>Найдено записей: @ViewBag.OutpatientCardsCount</p>
    </form>
    <div class="col-md-9" style="margin-top: 10px; margin-bottom: 10px;">
        @if (User.IsInRole("admin"))
        {
            <a asp-action="Create" class="btn btn-primary">Создать новую запись</a>
        }
    </div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CardNumberSortParam"]">Номер карты @Html.Raw(GetSortArrow("card_number_asc"))</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PatientSortParam"]">Пациент @Html.Raw(GetSortArrow("patient_asc"))</a>
            </th>
            @if (User.IsInRole("admin"))
            {
                <th>Действия</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                @item.CardNumber
                </td>
                <td>
                @item.Patient.MiddleName @item.Patient.FirstName @item.Patient.LastName
                </td>
                @if (User.IsInRole("admin"))
                    {
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                        </td>
                    }
            </tr>
        }
    </tbody>
</table>
