@model Clinic.Models.Doctor

@{
    ViewData["Title"] = "Детали доктора";
}

<h1>@ViewData["Title"]</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">ID:</dt>
        <dd class="col-sm-10">@Model.Id</dd>

        <dt class="col-sm-2">Имя:</dt>
        <dd class="col-sm-10">@Model.FirstName</dd>

        <dt class="col-sm-2">Фамилия:</dt>
        <dd class="col-sm-10">@Model.LastName</dd>

        <dt class="col-sm-2">Отчество:</dt>
        <dd class="col-sm-10">@Model.MiddleName</dd>

        <dt class="col-sm-2">Отделение:</dt>
        <dd class="col-sm-10">@Model.Registry.DepartmentNumber</dd>

        <dt class="col-sm-2">ID отделения:</dt>
        <dd class="col-sm-10">@Model.RegistryId</dd>
        
        <dt class="col-sm-2">Специальность:</dt>
        <dd class="col-sm-10">@Model.Specialty.Name</dd>

        <dt class="col-sm-2">ID специальности:</dt>
        <dd class="col-sm-10">@Model.SpecialtyId</dd>
    </dl>
</div>

<div>
    <a href="@Url.Action("Index", "Doctors")" class="btn btn-secondary">Вернутья к списку</a>
</div>
