@model List<Clinic.Models.Doctor>

@{
    string GetSortArrow(string columnName)
    {
        if (ViewData["CurrentSort"] as string == columnName)
        {
            if ((string)ViewData["CurrentSort"] == "id_asc" || (string)ViewData["CurrentSort"] == "first_name_asc" || (string)ViewData["CurrentSort"] == "last_name_asc" || (string)ViewData["CurrentSort"] == "middle_name_asc" || (string)ViewData["CurrentSort"] == "registry_asc" || (string)ViewData["CurrentSort"] == "specialty_asc")
            {
                return "▼";
            }
            else
            {
                return "▲";
            }
        }
        else if (ViewData["CurrentSort"] as string == columnName.Replace("_asc", "_desc"))
        {
            return "▲";
        }
        return "";
    }
}

<h1>Список врачей</h1>

<div>
    <form id="searchForm" asp-controller="Doctors" asp-action="Index" method="get">
        <p>
            <input id="searchInput" type="text" name="searchString" placeholder="Поиск">
        </p>
    </form>
    @if (User.IsInRole("admin"))
    {
        <a asp-action="Create">Добавить нового врача</a>
    }
</div>

<table class="table">
    <thead>
        <tr>
            <th class="theme-text-color"><a asp-action="Index" asp-route-sortOrder="@ViewData["IdSortParam"]">ID @Html.Raw(GetSortArrow("id_asc"))</a></th>
            <th class="theme-text-color"><a asp-action="Index" asp-route-sortOrder="@ViewData["FirstNameSortParam"]">Имя @Html.Raw(GetSortArrow("first_name_asc"))</a></th>
            <th class="theme-text-color"><a asp-action="Index" asp-route-sortOrder="@ViewData["LastNameSortParam"]">Фамилия @Html.Raw(GetSortArrow("last_name_asc"))</a></th>
            <th class="theme-text-color"><a asp-action="Index" asp-route-sortOrder="@ViewData["MiddleNameSortParam"]">Отчество @Html.Raw(GetSortArrow("middle_name_asc"))</a></th>
            <th class="theme-text-color"><a asp-action="Index" asp-route-sortOrder="@ViewData["RegistrySortParam"]">Отделение @Html.Raw(GetSortArrow("registry_asc"))</a></th>
            <th class="theme-text-color"><a asp-action="Index" asp-route-sortOrder="@ViewData["SpecialtySortParam"]">Специальность @Html.Raw(GetSortArrow("specialty_asc"))</a></th>
            <th class="theme-text-color">Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var doctor in Model)
        {
            <tr>
                <td class="theme-text-color">@doctor.Id</td>
                <td class="theme-text-color">@doctor.FirstName</td>
                <td class="theme-text-color">@doctor.LastName</td>
                <td class="theme-text-color">@doctor.MiddleName</td>
                <td class="theme-text-color">@doctor.Registry.DepartmentNumber</td>
                <td class="theme-text-color">@doctor.Specialty.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@doctor.Id">Редактировать</a> |
                    <a asp-action="Delete" asp-route-id="@doctor.Id">Удалить</a> |
                    <a asp-action="Details" asp-route-id="@doctor.Id">Подробно</a>
                </td>
            </tr>
        }
    </tbody>
</table>

