@model List<Clinic.Models.Doctor>

@{
    string GetSortArrow(string columnName)
    {
        if (ViewData["CurrentSort"] as string == columnName)
        {
            if ((string)ViewData["CurrentSort"] == "id_asc" || (string)ViewData["CurrentSort"] == "first_name_asc" || (string)ViewData["CurrentSort"] == "last_name_asc" || (string)ViewData["CurrentSort"] == "middle_name_asc" || (string)ViewData["CurrentSort"] == "registry_asc" || (string)ViewData["CurrentSort"] == "specialty_asc")
            {
                return "▼";
            }
            else
            {
                return "▲";
            }
        }
        else if (ViewData["CurrentSort"] as string == columnName.Replace("_asc", "_desc"))
        {
            return "▲";
        }
        return "";
    }
}

<h1>Список врачей</h1>

<div>
    <form id="searchForm" asp-controller="Doctors" asp-action="Index" method="get" class="form-inline">
        <div class="form-group" style="margin-bottom: 10px;">
            <label for="searchInput" class="mr-2">Поиск</label>
            <input id="searchInput" type="text" name="searchString" placeholder="Введите текст для поиска" class="form-control mr-2">
        </div>
        <div class="form-check form-check-inline">
            <input type="checkbox" name="filterFirstName" value="true" class="form-check-input">
            <label class="form-check-label mr-2">Имя</label>
            <select name="selectedFirstName" class="form-control mr-2">
                @foreach (var firstName in ViewBag.FirstNames)
                {
                    <option value="@firstName">@firstName</option>
                }
            </select>
        </div>
        <div class="form-check form-check-inline">
            <input type="checkbox" name="filterLastName" value="true" class="form-check-input">
            <label class="form-check-label mr-2">Фамилия</label>
            <select name="selectedLastName" class="form-control mr-2">
                @foreach (var lastName in ViewBag.LastNames)
                {
                    <option value="@lastName">@lastName</option>
                }
            </select>
        </div>
        <div class="form-check form-check-inline">
            <input type="checkbox" name="filterMiddleName" value="true" class="form-check-input">
            <label class="form-check-label mr-2">Отчество</label>
            <select name="selectedMiddleName" class="form-control mr-2">
                @foreach (var middleName in ViewBag.MiddleNames)
                {
                    <option value="@middleName">@middleName</option>
                }
            </select>
        </div>
        <div class="form-check form-check-inline">
            <input type="checkbox" name="filterRegistry" value="true" class="form-check-input">
            <label class="form-check-label mr-2">Отделение</label>
            <select name="selectedRegistry" class="form-control mr-2">
                @foreach (var registry in ViewBag.Registries)
                {
                    <option value="@registry.Id">@registry.DepartmentNumber</option>
                }
            </select>
        </div>
        <div class="form-check form-check-inline">
            <input type="checkbox" name="filterSpecialty" value="true" class="form-check-input">
            <label class="form-check-label mr-2">Специальность</label>
            <select name="selectedSpecialty" class="form-control mr-2">
                @foreach (var specialty in ViewBag.Specialties)
                {
                    <option value="@specialty.Id">@specialty.Name</option>
                }
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Применить фильтры</button>
    </form>
    <p>Найдено записей: @ViewBag.DoctorsCount</p>
</div>
<div class="col-md-9" style="margin-top: 10px; margin-bottom: 10px;">
        @if (User.IsInRole("admin"))
        {
            <a asp-action="Create" class="btn btn-primary">Создать новую запись</a>
        }
    </div>

<table class="table">
    <thead>
        <tr>
            <th class="theme-text-color"><a asp-action="Index" asp-route-sortOrder="@ViewData["IdSortParam"]">ID @Html.Raw(GetSortArrow("id_asc"))</a></th>
            <th class="theme-text-color"><a asp-action="Index" asp-route-sortOrder="@ViewData["FirstNameSortParam"]">Имя @Html.Raw(GetSortArrow("first_name_asc"))</a></th>
            <th class="theme-text-color"><a asp-action="Index" asp-route-sortOrder="@ViewData["LastNameSortParam"]">Фамилия @Html.Raw(GetSortArrow("last_name_asc"))</a></th>
            <th class="theme-text-color"><a asp-action="Index" asp-route-sortOrder="@ViewData["MiddleNameSortParam"]">Отчество @Html.Raw(GetSortArrow("middle_name_asc"))</a></th>
            <th class="theme-text-color"><a asp-action="Index" asp-route-sortOrder="@ViewData["RegistrySortParam"]">Отделение @Html.Raw(GetSortArrow("registry_asc"))</a></th>
            <th class="theme-text-color"><a asp-action="Index" asp-route-sortOrder="@ViewData["SpecialtySortParam"]">Специальность @Html.Raw(GetSortArrow("specialty_asc"))</a></th>
            <th class="theme-text-color">Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var doctor in Model)
        {
            <tr>
                <td class="theme-text-color">@doctor.Id</td>
                <td class="theme-text-color">@doctor.FirstName</td>
                <td class="theme-text-color">@doctor.LastName</td>
                <td class="theme-text-color">@doctor.MiddleName</td>
                <td class="theme-text-color">@doctor.Registry.DepartmentNumber</td>
                <td class="theme-text-color">@doctor.Specialty.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@doctor.Id">Редактировать</a> |
                    <a asp-action="Delete" asp-route-id="@doctor.Id">Удалить</a> |
                    <a asp-action="Details" asp-route-id="@doctor.Id">Подробно</a>
                </td>
            </tr>
        }
    </tbody>
</table>

