@model Clinic.Models.Appointment

<h1>Удаление записи о приеме</h1>

<h3>Вы уверены, что хотите удалить эту запись о приеме?</h3>
<div>
    <h4>Информация о приеме:</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">ID:</dt>
        <dd class="col-sm-10">@Model.Id</dd>
        <dt class="col-sm-2">Описание:</dt>
        <dd class="col-sm-10">@Model.Description</dd>
        <dt class="col-sm-2">Врач:</dt>
        <dd class="col-sm-10">@($"{Model.Doctor.LastName} {Model.Doctor.FirstName} {Model.Doctor.MiddleName}")</dd>
        <dt class="col-sm-2">Пациент:</dt>
        <dd class="col-sm-10">@($"{Model.Patient.LastName} {Model.Patient.FirstName} {Model.Patient.MiddleName}")</dd>
    </dl>
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Удалить</button>
        <a href="@Url.Action("Index", "Appointment")" class="btn btn-secondary">Отмена</a>
    </form>
</div>
