@model List<Clinic.Models.Appointment>

@{
    string GetSortArrow(string columnName)
    {
        if (ViewData["CurrentSort"] as string == columnName)
        {
            if ((string)ViewData["CurrentSort"] == "id_asc" || (string)ViewData["CurrentSort"] == "description_asc" || (string)ViewData["CurrentSort"] == "doctor_asc" || (string)ViewData["CurrentSort"] == "patient_asc")
            {
                return "▼";
            }
            else
            {
                return "▲";
            }
        }
        else if (ViewData["CurrentSort"] as string == columnName.Replace("_asc", "_desc"))
        {
            return "▲";
        }
        return "";
    }
}

<div class="row">
    <div class="col-md-12">
        <h1>Список встреч</h1>
    </div>
</div>
    <div>
        <form id="searchForm" asp-controller="Appointment" asp-action="Index" method="get" class="form-inline">
            <div class="form-group" style="margin-bottom: 10px;">
                <label for="searchInput" class="mr-2">Поиск</label>
                <input id="searchInput" type="text" name="searchString" placeholder="Введите текст для поиска" class="form-control mr-2">
            </div>
            <div class="form-check form-check-inline">
                <input type="checkbox" name="filterDescription" value="true" class="form-check-input">
                <label class="form-check-label mr-2">Описание</label>
                <select name="selectedDescription" class="form-control mr-2">
                    @foreach (var description in ViewBag.Descriptions)
                    {
                        <option value="@description">@description</option>
                    }
                </select>
            </div>
            <div class="form-check form-check-inline">
                <input type="checkbox" name="filterDoctor" value="true" class="form-check-input">
                <label class="form-check-label mr-2">ФИО врача</label>
                <select name="selectedDoctor" class="form-control mr-2">
                    @foreach (var doctor in ViewBag.Doctors)
                    {
                        <option value="@doctor.Id">@doctor.FullName</option>
                    }
                </select>
            </div>
            <div class="form-check form-check-inline">
                <input type="checkbox" name="filterPatient" value="true" class="form-check-input">
                <label class="form-check-label mr-2">ФИО пациента</label>
                <select name="selectedPatient" class="form-control mr-2">
                    @foreach (var patient in ViewBag.Patients)
                    {
                        <option value="@patient.Id">@patient.FullName</option>
                    }
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Применить фильтры</button>
        </form>
        <p>Найдено записей: @ViewBag.AppointmentsCount</p>
    </div>
    <div class="col-md-9" style="margin-top: 10px; margin-bottom: 10px;">
        @if (User.IsInRole("admin"))
        {
            <a asp-action="Create" class="btn btn-primary">Создать новую запись</a>
        }
    </div>


<table class="table">
    <thead>
        <tr>
            <th><a asp-action="Index" asp-route-sortOrder="@ViewData["DescSortParam"]">Описание @Html.Raw(GetSortArrow("description_asc"))</a></th>
            <th><a asp-action="Index" asp-route-sortOrder="@ViewData["DoctorSortParam"]">ФИО врача @Html.Raw(GetSortArrow("doctor_asc"))</a></th>
            <th><a asp-action="Index" asp-route-sortOrder="@ViewData["PatientSortParam"]">ФИО пациента @Html.Raw(GetSortArrow("patient_asc"))</a></th>
            @if (User.IsInRole("admin"))
            {
                <th>Действия</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var appointment in Model)
        {
            <tr>
                <td>@appointment.Description</td>
                <td>@($"{appointment.Doctor.LastName} {appointment.Doctor.FirstName} {appointment.Doctor.MiddleName}")</td>
                <td>@($"{appointment.Patient.LastName} {appointment.Patient.FirstName} {appointment.Patient.MiddleName}")</td>
                @if (User.IsInRole("admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@appointment.Id">Редактировать</a> |
                        <a asp-action="Delete" asp-route-id="@appointment.Id">Удалить</a> |
                        <a asp-action="Details" asp-route-id="@appointment.Id">Подробно</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

