@model IEnumerable<Clinic.Models.DoctorSpecialty>

@{
    string GetSortArrow(string columnName)
    {
        if (ViewData["CurrentSort"] as string == columnName)
        {
            if ((string)ViewData["CurrentSort"] == "name_asc" || (string)ViewData["CurrentSort"] == "description_asc")
            {
                return "▼"; // Стрелка вниз
            }
            else
            {
                return "▲"; // Стрелка вверх
            }
        }
        else if (ViewData["CurrentSort"] as string == columnName.Replace("_asc", "_desc"))
        {
            return "▲"; // Стрелка вверх
        }
        return "";
    }
}

<h1>Специальзации докторов</h1>

<p>
    <form id="searchForm" asp-controller="DoctorSpecialties" asp-action="Index" method="get">
        <div  class="form-group" style="margin-bottom: 10px;">
            <label for="searchInput" class="mr-2">Поиск</label>
            <input id="searchInput" type="text" name="searchString" placeholder="Введите текст для поиска" class="form-control mr-2">
        </div>
        <div class="form-check form-check-inline">
            <input type="checkbox" name="filterName" value="true" class="form-check-input"><label class="form-check-label mr-2">Название специальзации</label>
            <select name="selectedName" class="form-control mr-2">
                @foreach (var name in ViewBag.Name)
                {
                        <option value="@name">@name</option>
                }
            </select>
        </div>
        <div class="form-check form-check-inline">
            <input type="checkbox" name="filterDescription" value="true" class="form-check-input">
            <label class="form-check-label mr-2">Описание специальзации</label>
            <select name="selectedDescription" class="form-control mr-2">
                @foreach (var description in ViewBag.Description)
                {
                        <option value="@description">@description</option>
                }
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Применить фильтры</button>
        <p>Найдено записей: @ViewBag.specialtiesCount</p>
    </form>
    <div class="col-md-9" style="margin-top: 10px; margin-bottom: 10px;">
        @if (User.IsInRole("admin"))
        {
                <a asp-action="Create" class="btn btn-primary">Создать новую запись</a>
        }
    </div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParam"]">Название специальзации @Html.Raw(GetSortArrow("name_asc"))</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DescriptionSortParam"]">Описание специальзации @Html.Raw(GetSortArrow("description_asc"))</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>
                    @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Детали</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
