@model IEnumerable<Clinic.Models.District>

@{
    string GetSortArrow(string columnName)
    {
        if (ViewData["CurrentSort"] as string == columnName)
        {
            if ((string)ViewData["CurrentSort"] == "id_asc" || (string)ViewData["CurrentSort"] == "districtnumber_asc" || (string)ViewData["CurrentSort"] == "doctor_asc")
            {
                return "▼";
            }
            else
            {
                return "▲";
            }
        }
        else if (ViewData["CurrentSort"] as string == columnName.Replace("_asc", "_desc"))
        {
            return "▲";
        }
        return "";
    }
}

<h1>Районы</h1>

<p>
    <form id="searchForm" asp-controller="District" asp-action="Index" method="get">
        <div  class="form-group" style="margin-bottom: 10px;">
            <label for="searchInput" class="mr-2">Поиск</label>
            <input id="searchInput" type="text" name="searchString" placeholder="Введите текст для поиска" class="form-control mr-2">
        </div>
        <div class="form-check form-check-inline">
            <input type="checkbox" name="filterDistrictNumber" value="true" class="form-check-input">
            <label class="form-check-label mr-2">Номер района</label>
            <select name="selectedDistrictNumber" class="form-control mr-2">
                @foreach (var districtNumber in ViewBag.DistrictNumbers)
                {
                    <option value="@districtNumber">@districtNumber</option>
                }
            </select>
        </div>
        <div class="form-check form-check-inline">
            <input type="checkbox" name="filterDoctor" value="true" class="form-check-input">
            <label class="form-check-label mr-2">ФИО Доктора</label>
            <select name="selectedDoctor" class="form-control mr-2">
                @foreach (var doctor in ViewBag.Doctors)
                {
                    <option value="@doctor.Id">@doctor.FullName</option>
                }
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Применить фильтры</button>
        <p>Найдено записей: @ViewBag.districtsCount</p>
    </form>
    <div class="col-md-9" style="margin-top: 10px; margin-bottom: 10px;">
        @if (User.IsInRole("admin"))
        {
            <a asp-action="Create" class="btn btn-primary">Создать новую запись</a>
        }
    </div>
</p>
<table class="table">
    <thead>
        <tr>
            <th><a asp-action="Index" asp-route-sortOrder="@ViewData["DistrictNumberSortParam"]">Номер района @Html.Raw(GetSortArrow("districtnumber_asc"))</a></th>
            <th><a asp-action="Index" asp-route-sortOrder="@ViewData["DoctorSortParam"]">ФИО врача @Html.Raw(GetSortArrow("doctor_asc"))</a></th>
            @if (User.IsInRole("admin"))
            {
                <th>Действия</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var district in Model)
        {
            <tr>
                <td>@district.DistrictNumber</td>
                <td>@($"{district.Doctor.LastName} {district.Doctor.FirstName} {district.Doctor.MiddleName}")</td>
                @if (User.IsInRole("admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@district.Id">Редактировать</a> |
                        <a asp-action="Delete" asp-route-id="@district.Id">Удалить</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
